.header-wrapper {
    height:3em;
    width:100%;
    background-color: #000000;
    color: #eeeeee;
    padding: 0 16px;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
}

.black {
    height: 2em;
    width: 100%;
    outline: 2px solid orange;
}

.sub-header {
    background-color: #1b1e21;
    color: #eeeeee;
    text-align: center;
    padding: 1em;
}

.header-logo {
    height:96px;
}

.menu-wrapper {

}

.bg-dark {
    background-color: #000000 !important;
}