.product-overview-wrapper {
    height: 25em;
    width: 100%;
    overflow: hidden;
}

.product-overview-slider {
    height: 100%;
    width: 800%;
}

.product-details {
    height: 100%;
    width: 17em;
    background-color: #2f3336;
    margin-right: 4em;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-control {
    height: 20em;
    width: 2em;
    position: absolute;
    color: #eeeeee;
    cursor: pointer;
    text-align: center;
    padding-top: 4em;
}

.slider-control > i {
    height: 100%;
    font-size: 1.5em;
    text-align: center;
    overflow: hidden;
}

.slider-control-left {
    left: 0;
}

.slider-control-right {
    right: 0;
    margin-top: -25em;
}

.product-description, .product-price {
    background-color: rgba(0,0,0,0.6);
    color: #eeeeee;
    padding: 0.5em 1em;
    text-align: right;
    overflow: hidden;
}

.product-price {
    height: 3em;
}

.product-description {
    height:4em;
}

.product-details-info {
    margin-top:21em;
}

