<html lang="en">
<head>
    {% block title %}{% endblock %}
    {% include 'shared/head.html.twig' %}
</head>

<body>
{% include 'shared/header.html.twig' %}
<div class="site-container">
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
</div>
</body>
</html>