{% extends 'base.html.twig' %}

{% block title %}
    <title>d-lynck printing</title>
{% endblock %}

{% block body %}
    {% include 'page-parts/info.html.twig' %}
    <div class="filler-5em"></div>
    <div class="hr-custom"></div>
    {% include 'page-parts/product-overview.html.twig' %}
    <div class="filler-5em"></div>
    <div class="hr-custom"></div>
    {% include 'page-parts/more-info.html.twig' %}
    <div class="filler-5em"></div>
    <div class="hr-custom"></div>
    {% include 'page-parts/contact.html.twig' %}
    <div class="filler-5em"></div>
    <div class="hr-custom"></div>
    <hr/>
    <div class="filler-5em"></div>
{% endblock %}
{% block scripts %}
    <script src="js/slider.js"></script>
    <script>
        var carousel = $('.picture-carousel'),
            pics = {{ pictures | json_encode|raw }},
            numberOfPics = pics.length,
            proceed = true,
            counter = 0,
            mLeft = 0,
            shitTime = 4000;

        $('.link, .nav-link').on('click', function () {
            var self = $(this), anchor = self.data('anchor');

            $([document.documentElement, document.body]).animate({
                scrollTop: $(anchor).offset().top
            }, 500);
        });

        $(document).ready(function () {
            addPictures();
        });

        function spinTheCarousel() {
            if (proceed === true) {
                proceed = false;
                spinTheCarousel();
            } else {
                setTimeout(function () {
                    proceed = true;
                    // changePicture(counter);
                    shiftPicture();
                    counter++;
                    counter = counter === numberOfPics ? 0 : counter;
                    spinTheCarousel();
                }, shitTime);
            }
        }

        function shiftPicture()
        {
            if (mLeft === -((100 * numberOfPics) - 100)) {
                mLeft = 0;
            } else {
                mLeft = mLeft - 100;
            }

            $('.picture-carousel').animate({marginLeft: mLeft + '%'});
        }

        function addPictures()
        {
            $('.picture-carousel').css({'width': 100 * numberOfPics + '%'});

            for (let i = 0; i < pics.length; i++) {
                let url = '\'img\/pics\/' + pics[i] + '.jpg\'';
                carousel.append('<div class="custom-carousel-item" style="width: '+ 100 / numberOfPics  +'%;background-image: url(' + url + ');"></div>')
            }

            spinTheCarousel();
        }
    </script>
{% endblock %}