<div class="page-part-title" id="contact">
    contact
</div>
<div class="float-box">
    <div class="contact-form">
        Contact form here...
    </div>
    <div class="contact-picture"></div>
</div>