<div class="page-part-wrapper">
    <div class="page-part-left page-part">
        <div class="info-title-wrapper">
            <div class="info-title"></div>
            <div class="info-sub-title">
                Creative oplossingen
            </div>
            <div class="info-button link" data-url="./info">
                Meer informatie
            </div>
        </div>
    </div>
    <div class="page-part-right page-part">
        <div class="picture-carousel"></div>
    </div>
</div>