<div class="page-part-title" id="more-info">
    Designs van hoge kwaliteit
</div>
<div class="float-box">
    <div class="more-info-picture desk-left"></div>
    <div class="more-info-spacer"></div>
    <div class="more-info-picture desk-right"></div>
</div>
<div class="float-box">
    <div class="more-info-seo">
        <h2>{{ more_info.left.title }}</h2>
        {{ more_info.left.content }}
    </div>
    <div class="more-info-spacer"></div>
    <div class="more-info-seo">
        <h2>{{ more_info.right.title }}</h2>
        {{ more_info.right.content }}
    </div>
</div>
